## Whitelist only gitignore ##
## https://www.howtogeek.com/devops/how-to-set-up-gitignore-as-a-whitelist/

# Block everything
#*
#!*/
#.local/

# Whitelist
#!.gitignore
#!README.md
#!.bash_aliases
#!.bash_profile
#!.config/



# Blacklist
.config/tmux/plugins/*
