## Whitelist only gitignore ##
## https://www.howtogeek.com/devops/how-to-set-up-gitignore-as-a-whitelist/

# Block everything
*
!*/

# Whitelist
!.config/*

# Blacklist
.local/
.tmux/
workspace/
.config/tmux/plugins/*
AppData
Application*
Cookies
Documents
Local*
My\ Documents
NetHood
PrintHood
Recent
SendTo
Start\ Menu
Templates
